@model ResortInfoViewModel
@{
    ViewData["Title"] = "Resort Info";
}

<h2>Restaurants</h2>
<div class="row">
    <a asp-controller="Resort" asp-action="AddRestaurantRequest">Add Restaurant Info</a>
@foreach (var item in Model.Restaurants)
{
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h4>@item.RestaurantName</h4>
                <p>
                    Cuisine: @item.CuisineType <br />
                    Description: @item.RestaurantDescription<br />
                    Dress Code: @item.DressCode.Title <br />
                    Hours:<br /> 
                    @if (item.HoursBreakfastEnd != null)
                    {
                        <i>Breakfast:@item.HoursBreakfastStart - @item.HoursBreakfastEnd</i><br />
                    }
                    @if (item.HoursLunchStart != null)
                    {
                        <i>Lunch:@item.HoursLunchStart - @item.HoursLunchEnd</i><br />
                    }
                    @if (item.HoursDinnerStart != null)
                    {
                        <i>Dinner:@item.HoursDinnerStart - @item.HoursDinnerEnd</i><br />
                    }
                    <a asp-controller="Resort" asp-action="EditRestaurantRequest" asp-route-id="@item.RestaurantId">Edit</a>
                    <span>|</span>
                    <a>Delete</a>
            </div>
        </div>
        <br />
    </div>
}
</div>

<h2>Bars</h2>
<a asp-controller="Resort" asp-action="AddBarRequest">Add Bar Info</a>
<div class="row">
    @foreach (var item in Model.Bars)
    {
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5>@item.BarName</h5>
                    <p>
                       Description: @item.Description <br />
                       @if(@item.SpecialInstructions != ""){
                            <i>@item.SpecialInstructions</i> <br />
                       }
                       Hours: @item.HoursStart - @item.HoursEnd <br />
                       <a asp-controller="Resort" asp-action="EditBarRequest" asp-route-id="@item.BarId">Edit</a>
                       <span>|</span>
                        <a asp-controller="Resort" asp-action="DeleteBar" asp-route-barId="@item.BarId">Delete</a>
                    </p>
                </div>
            </div>
            <br />
        </div>
    }
</div>
<h2>Event Spaces</h2>
<a asp-controller="Resort" asp-action="AddEventSpace">Add Event Space Info</a>

<h2>Dress Code</h2>
<a asp-controller="Resort" asp-action="AddDressCodeRequest">Add Dress Code Info</a>
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Title</th>
            <th>Women</th>
            <th>Men</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var code in Model.DressCodes)
        {
            if(code.Title == "None")
            {
                <tr>
                    <td class="fw-bold">@code.Title</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="fw-bold">@code.Title</td>
                    <td>@code.DescriptionWomen <br />No: @code.BannedItemsWomen</td>
                    <td>@code.DescriptionMen <br />No: @code.BannedItemsMen</td>
                    <td><a asp-controller="Resort" asp-action="EditDressCodeRequest" asp-route-dressCodeId="@code.DressCodeId">Edit</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="https://www.valentinmaya.com/en/gastronomy/">Valentin Website</a>