@model ResortInfoViewModel
@{
    ViewData["Title"] = "Resort Info";
}

<div class="row mainBody" style="display:flex">
    <div class="col-2 sidebar">
        <nav id="#navBar-resortInfo" class="h-100 flex-column pe-4">
            <a class="navbar-brand" href="#">Resort Info</a>
            <a class="nav-link" href="#restaurantNav">Restaurants</a>
            <a class="nav-link" href="#barNav">Bars</a>
            <a class="nav-link" href="#eventNav">Event Spaces</a>
            <a class="nav-link" href="#dressCodeNav">Dress Code</a>
        </nav>
    </div>

    <div class="col-10" style="margin-left:20%">
        <div data-bs-spy="scroll" data-bs-target="#navbar-resortInfo" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" style="position: relative;">
            <h1 style="text-align:center">Resort Info</h1>

            <h2 id="restaurantNav" class="mainBody">Restaurants</h2>
            <div class="row">
                <a asp-controller="Resort" asp-action="AddRestaurantRequest">Add Restaurant Info</a>
                @foreach (var item in Model.Restaurants)
                {
                    <div class="col-sm-4 mb-3 mb-sm-0" style="padding-bottom:2%">
                        <div class="card border-dark mb-3 h-100">
                            <h4 class="card-header text-center">@item.RestaurantName</h4>
                            <div class="card-body">
                                <p class="card-text">
                                    Cuisine: @item.CuisineType <br />
                                    Description: @item.RestaurantDescription<br />
                                    Dress Code: @item.DressCode.Title <br />
                                    @if (item.HoursBreakfastEnd != null)
                                    {
                                        <i>Breakfast:@item.HoursBreakfastStart - @item.HoursBreakfastEnd</i>
                                        <br />
                                    }
                                    @if (item.HoursLunchStart != null)
                                    {
                                        <i>Lunch:@item.HoursLunchStart - @item.HoursLunchEnd</i>
                                        <br />
                                    }
                                    @if (item.HoursDinnerStart != null)
                                    {
                                        <i>Dinner:@item.HoursDinnerStart - @item.HoursDinnerEnd</i>
                                    }
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Resort" asp-action="EditRestaurantRequest" asp-route-id="@item.RestaurantId">Edit</a>
                                <span>|</span>
                                <a asp-controller="Resort" asp-action="DeleteRestaurant" asp-route-restaurantId="@item.RestaurantId">Delete</a>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>


            <h2 id="barNav" class="mainBody">Bars</h2>
            <a asp-controller="Resort" asp-action="AddBarRequest">Add Bar Info</a>
            <div class="row">
                @foreach (var item in Model.Bars)
                {
                    <div class="col-sm-4 mb-3 mb-sm-0" style="padding-bottom:2%">
                        <div class="card border-dark h-100">
                            <h5 class="card-header text-center">@item.BarName</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Description: @item.Description <br />
                                    @if (@item.SpecialInstructions != "")
                                    {
                                        <i>@item.SpecialInstructions</i> 
                                        <br />
                                    }
                                    Hours: @item.HoursStart - @item.HoursEnd
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Resort" asp-action="EditBarRequest" asp-route-id="@item.BarId">Edit</a>
                                <span>|</span>
                                <a asp-controller="Resort" asp-action="DeleteBar" asp-route-barId="@item.BarId">Delete</a>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>


            <h2 id="eventNav" class="mainBody">Event Spaces</h2>
            <a asp-controller="Resort" asp-action="AddEventRequest">Add Event Space Info</a>
           <nav class="nav">
                <ul class="nav nav-tabs" id="eventSpaceTypes" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="ceremony-tab" data-bs-toggle="tab" data-bs-target="#ceremony-tab-pane" type="button" role="tab" aria-controls="ceremony-tab-pane" aria-selected="true">Ceremony</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="cocktail-hour-tab" data-bs-toggle="tab" data-bs-target="#cocktail-hour-tab-pane" type="button" role="tab" aria-controls="cocktail-hour-tab-pane" aria-selected="true">Cocktail Hour</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reception-tab" data-bs-toggle="tab" data-bs-target="#reception-tab-pane" type="button" role="tab" aria-controls="reception-tab-pane" aria-selected="true">Reception</button>
                    </li>
                </ul>
           </nav>
           <div class="tab-content" id="eventSpaceTypeContent">
                <div class="tab-pane fade show active" id="ceremony-tab-pane" role="tabpanel" aria-labelledby="ceremony-tab" tabindex="0">
                    <partial name="_CeremonyPartial" />
                </div>
                <div class="tab-pane fade" id="cocktail-hour-tab-pane" role="tabpanel" aria-labelledby="cocktail-hour-tab" tabindex="1">
                    <partial name="_CocktailHourPartial" />
                </div>
                <div class="tab-pane fade" id="reception-tab-pane" role="tabpanel" aria-labelledby="reception-tab" tabindex="2">
                    <partial name="_ReceptionPartial" />
                </div>
           </div>
           
           
            <h2 id="dressCodeNav" class="mainBody">Dress Codes</h2>
            <a asp-controller="Resort" asp-action="AddDressCodeRequest">Add Dress Code Info</a>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        <th>Women</th>
                        <th>Men</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var code in Model.DressCodes)
                    {
                        if (code.Title == "None")
                        {
                            <tr>
                                <td class="fw-bold">@code.Title</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="fw-bold">@code.Title</td>
                                <td>@code.DescriptionWomen <br />No: @code.BannedItemsWomen</td>
                                <td>@code.DescriptionMen <br />No: @code.BannedItemsMen</td>
                                <td><a asp-controller="Resort" asp-action="EditDressCodeRequest" asp-route-dressCodeId="@code.DressCodeId">Edit</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a href="https://www.valentinmaya.com/en/gastronomy/">Valentin Website</a>
            
        </div>

    </div>
</div>