@model ChecklistViewModel
@{
    ViewData["Title"] = "Checklist";
}
<div class="row mainBody">
    <div class="col">
        <h2>To Do List:</h2>
        <form asp-controller="Checklist" asp-action="AddNewItem" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" asp-for="ListItem.ListItem" />
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <div class="col">
            @foreach (var listItem in Model.ChecklistItems)
            {
                <div class="form-check form-check-inline col-4">
                    <form asp-controller="Checklist" asp-action="CheckItem" method="post" asp-route-checklistId="@listItem.ChecklistId">
                        <input class="form-check-input" type="checkbox" value="" asp-for="@listItem.Completed" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="@listItem.ListItem">@listItem.ListItem</label>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col">
        <h2>Packing List:</h2>
        <form asp-controller="Checklist" asp-action="AddNewPackingItem" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" asp-for="PackedItem.ListItem" />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

        <div class="row">
        @foreach (var packedItem in Model.PackingItems)
        {
            <div class="form-check form-check-inline col-4">
                <form asp-controller="Checklist" asp-action="CheckedPackedList" method="post" asp-route-packingListId="@packedItem.PackingListId">
                    <input class="form-check-input" type="checkbox" value="" asp-for="@packedItem.IsPacked" onchange="this.form.submit()" />
                    <label class="form-check-label" asp-for="@packedItem.ListItem">@packedItem.ListItem</label>
                </form>
            </div>
        }
        </div>
    </div>
</div>