<div class="row">
    @foreach (var item in Model.EventSpaces)
    {
        if (item.EventTypeId == 101)
        {
            <div class="col-sm-4" style="padding-bottom:2%">
                <div class="card h-100">
                    <div class="card-body">
                        <h5>@item.EventSpaceName</h5>
                        <p>
                            Event Type: @item.EventType.TypeName <br />
                            Description: @item.Description <br />
                            Minimum Guests: @item.MinGuests <br />
                            Maximum Guests: @item.MaxGuests <br />
                            @if (item.BookingFee != 0 && item.BookingFee != null)
                            {
                                <i>Booking Fee: $@item.BookingFee USD</i>
                            }
                            <br />
                            @if (@item.Favourite == false)
                            {
                                <a asp-controller="Resort" asp-action="AddToFavourites" asp-route-id="@item.EventSpaceId"><img src="/SVG/star.svg" /></a>
                            }
                            else
                            {
                                <a asp-controller="Resort" asp-action="AddToFavourites" asp-route-id="@item.EventSpaceId"><img src="/SVG/star-fill.svg" /></a>
                            }
                            <span>|</span>
                            <a asp-controller="Resort" asp-action="EditEventSpaceRequest" asp-route-id="@item.EventSpaceId">Edit</a>
                            <span>|</span>
                            <a asp-controller="Resort" asp-action="DeleteEvent" asp-route-id="@item.EventSpaceId">Delete</a>
                        </p>
                    </div>
                </div>
                <br />
            </div>

        }
    }
</div>