@model GuestViewModel

<div class="row border border-3 rounded" style="margin:10px;padding:15px">
    <div class="col" style="margin:5px">
        <h3>Guest</h3>
        <div class="form-group">
            <div class="form-group row">
                <label asp-for="ActiveGuest.FirstName" class="form-label">First Name:</label>
                <input type="text" asp-for="ActiveGuest.FirstName" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="ActiveGuest.LastName" class="form-label">Last Name:</label>
                <input type="text" asp-for="ActiveGuest.LastName" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="ActiveGuest.PhoneNumber" class="form-label">Phone Number:</label>
                <input type="tel" asp-for="ActiveGuest.PhoneNumber" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="ActiveGuest.Email" class="form-label">Email:</label>
                <input type="text" asp-for="ActiveGuest.Email" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="ActiveGuest.Address" class="form-label">Address:</label>
                <input type="text" asp-for="ActiveGuest.Address" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="ActiveGuest.WeddingPartyId" class="form-label">Role:</label>
                <select asp-for="ActiveGuest.WeddingPartyId" class="form-control">
                    <option value="">Select a Role</option>
                    @foreach (WeddingAppDatabase.Entities.WeddingParty role in @Model.PartyRoles)
                    {
                        <option value="@role.PartyId">@role.Role</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @if (Model.PlusOne != null)
    {
        <div class="col" style="margin:5px">
            <h3>Partner</h3>
            <div class="form-group">
                <div class="form-group row">
                    <label asp-for="PlusOne.FirstName" class="form-label">First Name:</label>
                    <input type="text" asp-for="PlusOne.FirstName" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="PlusOne.LastName" class="form-label">Last Name:</label>
                    <input type="text" asp-for="PlusOne.LastName" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="PlusOne.PhoneNumber" class="form-label">Phone Number:</label>
                    <input type="tel" asp-for="PlusOne.PhoneNumber" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="PlusOne.Email" class="form-label">Email:</label>
                    <input type="text" asp-for="PlusOne.Email" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="PlusOne.Address" class="form-label">Address:</label>
                    <input type="text" asp-for="PlusOne.Address" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="PlusOne.WeddingPartyId" class="form-label">Role:</label>
                    <select asp-for="PlusOne.WeddingPartyId" class="form-control">
                        <option value="">Select a Role</option>
                        @foreach (WeddingAppDatabase.Entities.WeddingParty role in @Model.PartyRoles)
                        {
                            <option value="@role.PartyId">@role.Role</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    }
</div>
