@model GuestListViewModel
@{
    ViewData["Title"] = "Guest List";
}

<form asp-controller="GuestList" asp-action="AddNewGuestRequest" method="get" enctype="application/x-www-form-urlencoded">
	<button type="submit" class="btn btn-primary">Add new guest</button>
</form>

<br />

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var guest in Model.Guests)
		{	
			<tr>
				<td>@guest.FirstName</td>
				<td>@guest.LastName</td>
				<td>@guest.ExtraRole</td>
				<td>@guest.PhoneNumber</td>
				<td>@guest.Email</td>
				<td>@guest.Address</td>
				<td>
				<form style="text-align: center">
					<input type="hidden" asp-for="@guest.GuestId" />
					<a asp-controller="GuestList" asp-action="EditGuestRequest" asp-route-guestId="@guest.GuestId">Edit</a>
					<span class="mx-1">|</span>
					<a asp-controller="GuestList" asp-action="DeleteGuestRequest" asp-route-guestId="@guest.GuestId">Delete</a>
				</form>
				</td>
			</tr>
		}
	</tbody>
</table>