@model DateViewModel
@{
    ViewData["Title"] = "Important Dates";
}
<div class="row mainBody">
    <div class="col-9">
    <h3>Important Dates</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventTime in Model.Dates)
                {
                    <tr>
                        <td>@eventTime.DateName</td>
                        <td>@eventTime.Description</td>
                        <td>@eventTime.DateStart</td>
                        <td>@eventTime.DateEnd</td>
                        <td>
                            <input type="hidden" asp-for="@eventTime.DateId" />
                            <a asp-controller="ImportantDates" asp-action="EditDateRequest" asp-route-dateId="@eventTime.DateId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>TODO: create a calendar view</p>

    </div>
    <div class="col-3 border border-3 rounded" style="padding:20px;">
        <h3>New Event</h3>
        <form asp-controller="ImportantDates" asp-action="AddNewDate" method="post">
            <partial name="_AddNewDatePartial" />
            <button type="submit" class="btn btn-primary">Add Event</button>
            <input type="reset" value="Clear" class="btn btn-primary">
        </form>
    </div>
</div>